*.html
*.rar
*.zip
*.Number
*.log
*.credential
*.TempPoint.ps1
/Build
/Dist
CR00000-__ProjectName__-Ora.lis
posh.*.txt
run.sql
test-args.ps1
test-args2.ps1
test-credential.ps1
test-validate.ps1
*.psprojs
/_msg.txt
*.TempPoint.psd1
*.git_history.txt
