#SDLC name is used to locate this file
#No secrets here
#This is evaluated line by line
#Example $cfg_sqlSpec if the need to install a subset of sql files
#$cfg_sqlSpec=@("112_*.sql","113_*.sql","113_*.sql""5?_*.sql","6?_*.sql")
#Map the database identifier to SDLC database tnsname entry
$cfg_local=@{}

$cfg_local["pon"]="POND.world"    #OMS database
$cfg_local["onc"]="ONCD.world"    #SMS_PUSH database
